/*----------------------------------
COLORS
----------------------------------*/

// Brandon Sun
$yellow: #ffdf39;
$orange: #f99d39;

// Text
$black: #333333;
$lightGrey: #f1f1f1;
$grey: #666666;

//Accents
$dotted: #cccccc;
$blue: #4cc5dc;
$darkBlue: #005689;
