/*----------------------------------
FOOTER
----------------------------------*/
footer {
	background: $yellow;
	padding-bottom: 10px;
	margin-top: 20px;
}

.logo {
	width: 150px;
	height: 30px;
	padding: 0px 12px 0px 10px;
	position: relative;
	top: 4px;
}

.new, .credits {
	@include serifLight;
	font-size: 1.4rem;
	display: inline;
}

.feedbackContainer {
	display: inline;
}

.feedback {
	@include sansLightBlack;
	font-size: 1.2rem;
	border: 1px solid $black;
	border-radius: 3px;
	letter-spacing: 0.25px;
	padding: 5px;
	margin-left: 15px;
	width: 6%;
	display: inline-block;
	position: relative;
	top: 3px;

}

.crossContainer {
	float: right;
	&:hover {
	cursor: pointer;
	}
}

.cross {
	width: 30px;
	height: 30px;
	border: 1px solid $black;
	border-radius: 50%;
	fill: $black;
	margin: 20px;
	padding: 2px 0px 0px 2px;
}