/*----------------------------------
BOX SIZING
----------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------------
CLEARFIX
----------------------------------*/

	.clearfix:after {
		 	visibility: hidden;
		  	display: block;
		  	font-size: 0;
		  	content: " ";
		 	 clear: both;
		 	 height: 0;
		 	 }
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*----------------------------------
SASS PARTIALS
----------------------------------*/

@import "partials/_colors";
@import "partials/_grid";
@import "partials/_mixins";
@import "partials/_normalize";

// Sections
@import "partials/_base";
@import "partials/_intro";
@import "partials/_sidebar";
@import "partials/_chart";
@import "partials/_tooltip";
@import "partials/_others";
@import "partials/_footer";

