/*----------------------------------
BOX SIZING
----------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------------
CLEARFIX
----------------------------------*/

	.clearfix:after {
		 	visibility: hidden;
		  	display: block;
		  	font-size: 0;
		  	content: " ";
		 	 clear: both;
		 	 height: 0;
		 	 }
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*----------------------------------
SASS PARTIALS
----------------------------------*/

@import "_colors";
@import "_grid";
@import "_mixins";
@import "_normalize";

// Sections
@import "_base";
@import "_intro";
@import "_selection";
@import "_others";
@import "_compare";
@import "_footer";
